import { controllerBuilder } from "stevie-utils";

export const {{ .FunctionName }}: controllerBuilder.RawRouteHandler = async (res) => {
    return res.send({ ok: true, message: "Hello from {{ .FunctionName }}" });
};

export const {{ .HandlerName }} = controllerBuilder.createRouteHandler({{ .FunctionName }});
