import { controllerBuilder } from "stevie-utils";
import aws from "aws-sdk";

const {{ .ModelName }}Table = process.env.{{ .TableEnvVar }} || "";

interface {{ .ModelImportName }}TableKey {
    {{ .TableHashKey }}: {{ .TableHashKeyType }};
    {{ if .TableRangeKey }}
    {{ .TableRangeKey }}: {{ .TableRangeKeyType }};
    {{ end }}
}

export const {{ .FunctionName }}: controllerBuilder.RawRouteHandler = async (res, {{ .ModelName }}) => {
    const dbItem = {{ .ModelName }}.value;
    const dynamo = new aws.DynamoDB.DocumentClient();
    const params = {
        TableName: {{ .ModelName }}Table,
        Item: item,
    };

    await dynamo.put(params).promise();
    return res.send({ ok: true, data: item });
};

export const {{ .HandlerName }} = controllerBuilder.createRouteHandler({{ .FunctionName }});
