{
    "compilerOptions": {
        "strict": true,
        "outDir": "bin",
        "rootDir": "./",
        "target": "es2016",
        "module": "commonjs",
        "moduleResolution": "node",
        "sourceMap": true,
        "experimentalDecorators": true,
        "pretty": true,
        "noFallthroughCasesInSwitch": true,
        "noImplicitReturns": true,
        "forceConsistentCasingInFileNames": true,
        "esModuleInterop": true
    },
    "include": [
        "get/**/*",
        "post/**/*",
        "put/**/*",
        "delete/**/*"
    ]
}
