{
    "name": "stevie-ui-utils",
    "version": "0.0.1",
    "main": "bin/index.js",
    "scripts": {
        "build": "tsc"
    },
    "author": "",
    "license": "ISC",
    "devDependencies": {
        "typescript": "^3.9.7"
    },
    "dependencies": {
        "axios": "^0.19.2",
        "redux": "^4.0.5"
    }
}
